/* src/pages/chat/ChatPage/ChatPage.module.css */
.page {
  height: 100%;
}
.grid {
  display: grid;
  grid-template-columns: 320px 1fr;
  height: 100%;
}
.sidebarArea {
  overflow: auto;
}
.mainArea {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
